<!DOCTYPE HTML>
<html>
    <head>
        <title>Ceres</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;
                    $("a#submitButton").click(function(){
                        var shipmentHash = $("input#shipmentHash").val();
                        var amount = $("input#amount").val();
                        contractInstance.receiveShipment(shipmentHash, {from:web3.eth.accounts[0], value: web3.toWei(amount, "ether")}, function(error, result){
                          if (error) {
                              console.log(error);
                              reject(error);
                          }
                          else {
                            $("div#successAlert").addClass("show");
                          }
                        });
                    });
                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img id= "navImg" src="{{ url_for('static', filename='images/logo_transparent.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="send">Send Shipment<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="receive">Receive Shipment<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="view_shipment">View Shipments<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="alert alert-success fade" id="successAlert" role="alert">
          Shipment Received!
        </div>
        <div id="receiveDiv">
          <h3>Receive Shipment</h3>
          <form id="receiveForm">
            <div class="form-group">
              <label for="shipmentHash">Shipment Hash</label>
              <input type="test" class="form-control" id="shipmentHash" placeholder="Enter unique shipment hash">
            </div>
            <div class="form-group">
              <label for="amount">Amount (in ether)</label>
              <input pattern="^\d*(\.\d{0,2})?$" class="form-control" id="amount" placeholder="Enter amount to pay for shipment">
            </div>
            <a role="button" id="submitButton" class="btn btn-primary">Send Shipment</a>
          </form>
  
        </div>
      </div>

    </body>
</html>
