<!DOCTYPE HTML>
<html>
    <head>
        <title>Ceres</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;
                    $("a#call_getOwner").click(function(){
                        contractInstance.getOwner(function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#owner").text(result);
                          }
                        });
                    });
                    $("a#call_getCurrentOwner").click(function(){
                        contractInstance.getCurrentOwner(function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              if (result == "0x0000000000000000000000000000000000000000"){
                                  result = "Still in Transit"
                                }
                              $("span#currentOwner").text(result);
                          }
                        });
                    });
                    $("a#call_getShipmentNumber").click(function(){
                        contractInstance.getShipmentsCount(function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#numberShipments").text(result);
                          }
                        });
                    });
                    $("a#call_getShipmentDetails").click(function(){
                        var choice = $("input#shipmentChoice").val();
                        contractInstance.getShipmentReceiver(choice, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#shipmentReceiver").text(result);
                          }
                        });
                        contractInstance.getShipmentSender(choice, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#shipmentSender").text(result);
                          }
                        });
                        contractInstance.getShipmentAmount(choice, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#shipmentAmount").text(result);
                          }
                        });
                        contractInstance.getShipmentStatus(choice, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#shipmentStatus").text(result);
                          }
                        });
                    });
                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img id= "navImg" src="{{ url_for('static', filename='images/logo_transparent.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="send">Send Shipment<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="receive">Receive Shipment<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="view_shipment">View Shipments<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div id="basicInfo">
          <h3>Basic Info</h3>
          <div class ="basicInfoDetail">
            <p>First Sender: <span id="owner"></span></p>
            <a role="button" id="call_getOwner" class="btn btn-primary">Get Sender</a>  
          </div>
          <div class ="basicInfoDetail">
            <p>Current Owner: <span id="currentOwner"></span></p>
            <a role="button" id="call_getCurrentOwner" class="btn btn-primary">Get Owner</a>  
          </div>
          <div class ="basicInfoDetail">
            <p>Number of Shipments: <span id="numberShipments"></span></p>
            <a role="button" id="call_getShipmentNumber" class="btn btn-primary">Get</a>  
          </div>
        </div>
        <hr style="height:3px;border-width:0; background-color:white">        
        <div>
          <h3>Shipment Details</h3>
          <form id="sendForm">
            <div class="form-group">
              <label for="shipmentChoice">Select shipment to view details</label>
              <input type="number" class="form-control" id="shipmentChoice">
            </div>
            <a role="button" id="call_getShipmentDetails" class="btn btn-primary">Get Details</a>
          </form>
          <div id="shipmentDetails">
            <p>Sender: <span id="shipmentSender"></span></p>
            <p>Receiver: <span id="shipmentReceiver"></span></p>
            <p>Amount: <span id="shipmentAmount"></span></p>
            <p>Status: <span id="shipmentStatus"></span> </p>   
          </div>
        </div>
      </div>

    </body>
</html>
