@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

.welcome {
	text-align: center;
	color: white;
}

body {
	background-color:rgb(64,102,97);
	font-family: "Raleway", Arial, Helvetica, sans-serif !important;
	color: white;
}

#navImg{
	width: 10%;
}

#homeImg{
	width: 40%;
}

.homeButtons{
	margin: 10px;
	margin-top: 40px;
}

#sendForm{
	margin-top: 20px;
}

#basicInfo, #sendDiv, #receiveDiv{
	margin: 40px 0px;
}

#successAlert{
	margin-top: 40px;
}

.basicInfoDetail {
	margin-top: 20px;
}

#submitButton, #shipmentDetails{
	margin-top: 30px;
}

label{
	color: white;
}
